<div class="product-page">
    <div class="product-page__header">
        <h1>San phan moi nhat</h1>
    </div>
    <div class="product-page__container">
        <img class="moving-image" src="https://i.pinimg.com/originals/bb/2a/93/bb2a93a4533db85e948abb3e86debcf5.jpg" alt="Moving Image" />
    </div>
    <div class="product-page__content">
        <div class="product-card" *ngFor="let product of products">
            <div class="product-card__image">
                <img [src]="product.mainImage" alt="product image">
            </div>
            <div class="product-card__info">
                <h2>{{ product.name }}</h2>
                <p>{{ product.price }}</p>
                <button pButton label="Add to cart" icon="pi pi-shopping-cart" class="p-button-text"></button>
            </div>

        </div>
    </div>
</div>
