<div class="product-page">
    <div class="product-page__header">
        <h1>San phan moi nhat</h1>
    </div>
    <div class="product-page__content">
        <div class="product-card" *ngFor="let product of products">
            <div class="product-card__image">
                <img [src]="product.image" alt="product image">
            </div>
            <div class="product-card__info">
                <h2>{{ product.name }}</h2>
                <p>{{ product.price }}</p>
                <button pButton label="Add to cart" icon="pi pi-shopping-cart" class="p-button-text"></button>
            </div>

        </div>
    </div>
</div>

<!-- <app-login *ngIf="showLogin"></app-login> -->
<!-- 'app-login' is not a known element:
1. If 'app-login' is an Angular component, then verify that it is part of this module.
2. If 'app-login' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.ngtsc(-998001)
home.component.ts(9, 1): Error occurs in the template of component HomeComponent. -->
