<p-table
  [value]="data"
  [paginator]="paginator"
  [rows]="rows"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td *ngFor="let col of columns">
        {{ row[col.field] }}
      </td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text"
          (click)="onEdit(row)"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger p-button-text"
          (click)="onDelete(row)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
