.p-badge {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
  }
.input-group {
    position: relative;
    display: inline-block;
    width: 80%;


    input {
        width: 100%;
        padding-right: 10px;
    }

    i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: var(--primary-color);
        pointer-events: none;
      }
}
