<div class="layout-content">
    <div class="header">
        Header
    </div>
    <div class="content">
        <!-- 'router-outlet' is not a known element:
1. If 'router-outlet' is an Angular component, then verify that it is part of this module.
2. If 'router-outlet' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.ngtsc(-998001)
home.layout.component.ts(6, 1): Error occurs in the template of component HomeLayoutComponent. -->
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        Footer
    </div>
</div>
